<%= render 'pages/home' %>


<div id="projects">
  <%= render @projects %>
</div>
<%= link_to 'Loading more projects', root_path(:page => @projects.next_page), :remote => true, :class => 'load-more-projects' if @projects.next_page %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_user_project_path(1) %>

